body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
 
    /* 解决动画进行时背景的颤动 */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    /* "&"在这里代表".heading-primary" */
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3rem;
    
        /* 设置动画 */
        animation-name: moveInLeft;
        /* 设置动画时间 */
        animation-duration: 1s;
        animation-timing-function: ease-in;
        /* 设置几秒后执行动画 */
        /*animation-delay: 3s;*/
    
        /* 动画将重复的次数 */
        /*animation-iteration-count: 3;*/
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.1rem;
    
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-in;
    }
}

.heading-secondary {
   font-size: 3.5rem;
   text-transform: uppercase;
   font-weight: 700;
   display: inline-block;
   background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
   -webkit-background-clip: text;
   color: transparent;
   letter-spacing: 0.2rem;
   transition: all .2s;

   &:hover {
       // 向Y轴倾斜2度（skewX是向x轴倾斜）
       // scale(1.1)代表变为110%大小
       transform: skewY(2deg) skewX(5deg) scale(1.1);
       text-shadow: 0.5rem 1rem 2rem rgba($color-black-shadow, 0.2);
   }
}