@charset "UTF-8";

/* 1.初始化样式 */
body {
    margin: 0;
    font-family: 'Source Sans Pro', 'メイリオ',
     'Hiragino Kaku Gothic Pro', sans-serif;
}

/* 2.网站名的样式 */
.site_name {
    background-color: #444444;
    padding: 10px;
    text-align: center
}

.site_name a {
    color:#ffffff;
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
    text-decoration: none;
}

/* 3. 设置导航菜单样式 */
.menu {
    padding: 40px 0;
    background-color: #f0f0e9;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li a {
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #770000;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #662222;
}

/* 5. 设置文章样式 */
.articles {
    padding: 40px;
}

.articles img {
    max-width: 100%;
    height: auto;
}

.articles h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 36px;
}

.articles h1 span {
    display: block;
    margin-bottom: 20px;
    color: #930000;
    font-size: 20px;
    font-weight: bold;
}

.articles p {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 2;
    text-align: justify;
}

.articles_info {
    margin-bottom: 20px;
    color: #666666;
}

/* 6. 关联文章菜单样式 */
.about_articles {
    padding: 40px 20px;
    background-color: #f0f0e9;
}

.about_articles ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about_articles li a {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

.about_articles img {
    max-width: 100%;
    height: auto;
}

.about_articles li a:hover {
    background-color: #eeeeee;
}

/* 7. footer样式 */
.footerbar {
    background-color: #444444;
    padding: 10px;
    text-align: center;
}

.footerbar p {
    margin: 0;
    color: #666666;
    font-size: 14px;
}
