/*
COLORS:
Light blue: #87CEFA
Medium blue: #00BFFF
Dark blue: #1E90FF
*/

$color-primary: #00BFFF;
$color-primary-light: #87CEFA;
$color-primary-dark: #1E90FF;

$color-grey-dark: #777;
$color-white: #fff;
$color-black-shadow: #000;